[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
flake8 = "*"
yapf = "*"
ipdb = "*"

[packages]
pillow = "*"
toolz = "*"

[requires]
python_version = "3.7"
